<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Crear reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="message"> En esta sección puedes crear reportes para informarle a los demás usuarios que tienes algo para donar y 
    puedan contactarte, solamente elige en tipo "donación" y la categoría del elemento que deseas donar. </p>

  <p class="message"> En esta sección puedes crear reportes para informarle a los demás usuarios que estas buscando ayuda y 
    puedan contactarte, solamente elige en tipo "solicitud" y la categoría de los elementos que requieres. </p>
  
  <form class="formulario" > 
    <!-- <ion-item>
      <ion-label> Nombre <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input *ngIf="currentUser !== undefined && currentUser.displayName !== undefined" [disabled]="true" type="text" name="nombre" required [(ngModel)]="currentUser.displayName"> </ion-input>
      <ion-input *ngIf="currentUser == undefined " [disabled]="false" type="text" name="nombre" required [(ngModel)]="nombre"> </ion-input>
    </ion-item> 

    <ion-item>
      <ion-label> Correo <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input *ngIf="currentUser !== undefined && currentUser.email !== undefined" type="email" [disabled]="true" name="correo" required [(ngModel)]="currentUser.email"> </ion-input>
      <ion-input *ngIf="currentUser == undefined" type="email" [disabled]="false" name="correo" required [(ngModel)]="correo"> </ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label> Nombre <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input *ngIf="logUser.currentUser.displayName !== undefined" [disabled]="true" type="text" name="nombre" required [(ngModel)]="logUser.currentUser.displayName"> </ion-input>
      <ion-input *ngIf="logUser.currentUser.displayName == undefined " [disabled]="false" type="text" name="nombre" required [(ngModel)]="nombre"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Correo <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input *ngIf="logUser.currentUser.displayName !== undefined" type="email" [disabled]="true" name="correo" required [(ngModel)]="logUser.currentUser.email"> </ion-input>
      <ion-input *ngIf="logUser.currentUser.displayName == undefined" type="email" [disabled]="false" name="correo" required [(ngModel)]="correo"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Telefono <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input type="tel" maxlength="10" name="telefono" required [(ngModel)]="telefono" > </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Ciudad <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="text" name="ciudad" required [(ngModel)]="ciudad"> </ion-input>
    </ion-item>
    
    <ion-item required>
      <ion-label > Categoría <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-select name="categoria" [(ngModel)]="categoria">
        <ion-select-option value= "Tecnologia" > Tecnología </ion-select-option>
        <ion-select-option value= "Alimentos"> Alimentos</ion-select-option>
        <ion-select-option value= "Vestimenta"> Vestimenta </ion-select-option>
        <ion-select-option value= "Dinero"> Dinero </ion-select-option>
        <ion-select-option value= "Enseres"> Enseres </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item required>
      <ion-label > Tipo de reporte <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-select name= "tipo" [(ngModel)]="tipo" >       
        <ion-select-option value= "donacion" > Donación </ion-select-option>
        <ion-select-option value= "solicitud"> Solicitud </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="descripcion"> Descripción <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-textarea placeholder="Deseo donar ropa usada ó Busco un computador para clases virtuales" name="descripcion" required [(ngModel)]="descripcion"> </ion-textarea>
    </ion-item>

    <ion-button expand="block" class="botonCrear" type="submit" (click)="createReport()" routerDirection="forward"> Crear reporte </ion-button> 

    </form>
  
</ion-content>
