<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Principal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div *ngIf="auth.user | async as user; else showLogin">
      <h1> Hola {{ user.displayName }}!</h1>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="principal-box">
            <div class="principal-descripcion">
              En CovidApp estamos construyendo una red de ayuda en Colombia. En el menú puedes encontrar los reportes hechos 
              por los usuarios ya sea ofreciendo algún tipo de ayuda o solicitándola. ¡Revisalas! . Puedes contactar a los 
              usuario en caso de querer recibir la ayuda que está ofreciendo ó en caso de poder ayudar.
            </div>
            <div class="principal-imagen">
              <img src="../../assets/img/help.png" alt="">
            </div>
            <div class="principal-descripcion">
              ¿Tienes cosas que no usas en casa y deseas donarlas? En el menú puedes crear un reporte ofreciendo los elementos 
              que desees, así mismo si tienes dinero o alimentos que quieras donar directamente puedes hacerlo saber a los demás
              usuario cambiando la categoría de tu reporte. 
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
  
