<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Principal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div *ngIf="auth.user | async as user; else showLogin">
      <h1> Hola {{ user.displayName }}!</h1>
    </div>
    <ion-grid>
      <ion-row>
          <div class="principal-box">
            <div class="principal-descripcion">
              ¿Tienes cosas que no usas en casa y deseas donarlas? ¿Quieres ayudar pero no sabes a quién ni cómo? 
              En CovidApp estamos construyendo una red de ayuda en Colombia. Te ofrecemos los contactos de personas 
              reales que necesitan ayuda en las siguientes categorías: tecnología, alimentos, vestimenta, dinero 
              y enseres. <br> <br>
              ¿Necesitas ayuda y no sabes a donde acudir? En CovidApp te ofrecemos un espacio en el que puedes publicar 
              solicitudes de ayuda con tus datos de contacto para que los otros usuarios que puedan ofrecerte una 
              ayuda se comuniquen contigo.
            </div>
            <div class="principal-imagen">
              <img src="../../assets/img/help.png" alt="">
            </div>
            <div class="principal-descripcion">
              En el menú "ver reportes" puedes encontrar los reportes hechos por los usuarios. En el tipo "donación"
              puedes visualizar los reportes donde se está ofreciendo ayuda según su categoría, así mismo en el tipo 
              "solicitud" puedes visualizar los reportes donde se está solicitando ayuda según su categoría. ¡Revisalas!
              <br> <br> 
              Puedes contactar a los usuarios en caso de querer recibir la ayuda que está ofreciendo ó 
              en caso de poder ayudar. 
              <br> <br>
              En el menú "crear reporte" puedes crear reportes ofreciendo los elementos que desees, así mismo si tienes dinero o alimentos 
              que quieras donar directamente puedes hacerlo saber a los demás usuarios cambiando la categoría de tu reporte. 
            </div>
          </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
  
