<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noticias sobre el COVID
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Noticias sobre el COVID</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="botones-noticias">
    <ion-button [ngClass]="{'boton-desactivado': !noticiasOmsActivadas}" class="boton-noticia" (click)="activarNoticiasOms()">De la OMS</ion-button>
    <ion-button [ngClass]="{'boton-desactivado': !noticiasColombiaActivadas}"  class="boton-noticia" (click)="activarNoticiasColombia()">De Colombia</ion-button>
  </div>

  
  <ion-list *ngIf="noticiasOmsActivadas">
    <ion-item *ngIf="noticias_oms.length === 0" id="spinner">
      <ion-spinner *ngIf="noticias_oms.length === 0" color="primary" name="crescent"></ion-spinner>
    </ion-item>
    <ion-item *ngFor="let noticia of noticias_oms" (click)="irA(noticia.link)">
      <ion-avatar slot="start">
        <img src="{{noticia.imagen}}" alt="">
      </ion-avatar>
      <ion-label>
        <h2>
          {{noticia.titulo}}
        </h2>
        <h3>
          {{noticia.parrafo | slice:0:150}}...
        </h3>
        <h4>
          Fecha: {{noticia.fecha}}
        </h4>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="noticiasColombiaActivadas">
    <ion-item *ngFor="let noticia of noticias_colombia | slice:0:10" (click)="irA(noticia.link)">
      <ion-avatar slot="start">
        <img src="{{noticia.imagen}}" alt="">
      </ion-avatar>
      <ion-label>
        <h2>
          {{noticia.titulo}}
        </h2>
        <h3>
          {{noticia.parrafo | slice:0:150}}...
        </h3>
        <h4>
          Fecha: {{noticia.fecha}}
        </h4>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="noticias_colombia.length === 0" id="spinner">
      <ion-spinner *ngIf="noticias_colombia.length === 0" color="primary" name="crescent"></ion-spinner>
    </ion-item>
  </ion-list>



</ion-content>
