.botones-noticias{
    display:flex;
    justify-content: center;
}

.boton-noticia{
    width: 100%;
    margin: 10px 20px;
}

h2{
    font-weight: 600;
    margin-bottom: 10px;
}

h3{
    white-space: normal !important;
    color: rgb(99, 99, 99);

}

h4{
    color: rgb(141, 141, 141);
    font-weight: 700;
    margin-top: 10px;
}

.boton-desactivado{
    border: 3px solid rgb(66,140,255);
    border-radius: 5px;
    color: rgb(66,140,255);
    --background: rgba(255, 255, 255, 0);
    border-color: rgb(66,140,255);
}

#spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    height: 60vh;
}

ion-spinner{
    margin: auto;
    width: 100px;
    height: 100px;
}