.botones-noticias{
    display:flex;
    justify-content: center;
}

.boton-noticia{
    width: 100%;
    margin: 10px 20px;
}

h3{
    color: rgb(141, 141, 141);
}

h4{
    font-style: italic;
    color: rgb(99, 99, 99);
}

.boton-desactivado{
    border: 3px solid rgb(66,140,255);
    border-radius: 5px;
    color: rgb(66,140,255);
    --background: rgba(255, 255, 255, 0);
    border-color: rgb(66,140,255);
}