<ion-header>
  <ion-toolbar>
    <ion-title>
    Consejos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Lavate las manos frecuentemente
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/1.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Evita reuniones masivas
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/2.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            No tengas contacto fisico
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/3.webp" alt="">
          </div>
          <div class="consejo-descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Si tienes sintomas de gripa...
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/4.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            En lo posible, usa gel antibacterial
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/5.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Si eres adulto mayor de 60 años
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/6.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur.
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
