<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
    Consejos oficiales de la OMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="10" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Lávate las manos frecuentemente
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/1.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Con un desinfectante de manos a base de alcohol o con jabón abundante durante 20-30 segundos cada 3 Horas. Luego de llegar a casa, antes de comer, y luego de estornudar.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="10" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Evita reuniones masivas
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/2.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Es muy peligroso que asistas a encuentros con mucha gente, pues son lugares propicios para que el virus se propage más fácil. Si es necesario tener una reunión, mantén una distancia de al menos 1 metro.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            No tengas contacto físico
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/3.webp" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Aunque las personas no se sientan ni vean enfermas, pueden transportar el virus fácilmente en su ropa o piel una vez contagiados. Evita saludar con abrazos o besos.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Si tienes síntomas de gripa...
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/4.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Usa tapaboca constantemente. Al toser, tápate la nariz y boca con el antebrazo. No te toques los ojos, la nariz o la boca. Procura trabajar en casa.
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            En lo posible, usa gel antibacterial
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/5.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Son un buen elemento de desinfección y si tienes acceso a ellos, utilizálos constantemente si tienes que salir.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Si eres adulto mayor de 60 años
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/6.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Verifica tu estado de salud diariamente y evita al máximo contacto físico y salir de la casa. Sigue las recomendaciones locales frente al Covid.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Cuida de ti y los tuyos
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/7.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Mantén la calma y no desesperes. El confinamiento puede generar gran estrés en tu familia, comprende los cambios de humor y busca nuevas actividades para realizar.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Sigue instrucciones e infórmate
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/8.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Busca los consejos y restricciones oficiales de las autoridades sanitarias a nivel nacional y distrital. 
            <br> <a href="https://www.minsalud.gov.co/salud/publica/PET/Paginas/Covid-19_copia.aspx" target="_blank"> A nivel nacional </a>
            <br> <a href="http://www.saludcapital.gov.co/Paginas2/Coronavirus.aspx" target="_blank"> A nivel distrital </a>
            <br> <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank"> OMS </a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
