<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
    Recomendaciones en tiempos de pandemia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Lavate las manos frecuentemente
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/1.png" alt="">
          </div>
          <div class="consejo-descripcion">
            Cada 3 Horas. Durante 20-30 segundos con jabon abundante. Luego de llegar a casa, antes de comer, y luego de estornudar.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Evita reuniones masivas
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/2.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Es muy peligroso que asistas a encuentros con mucha gente, pues son lugares propicios para que el virus se propage mas facil.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            No tengas contacto fisico
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/3.webp" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Aunque las personas no se sientan ni vean enfermas, pueden transportar el virus facilmente en su ropa o piel una vez contagiados. Evita exponerte a esto.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Si tienes sintomas de gripa...
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/4.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Usa tapabocas constantemente. Al toser, tapate la nariz y boca con el antebrazo. Evita el contacto al maximo y evita trabajar fuera de casa.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            En lo posible, usa gel antibacterial
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/5.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Son un buen elemento de desinfección y si tienes acceso a ellos, constantemente utilizalos si tienes que salir.
          </div>
        </div>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <div class="consejo-box">
          <div class="consejo-titulo">
            Si eres adulto mayor de 60 años
          </div>
          <div class="consejo-imagen">
            <img src="../../assets/img/6.png" alt="">
          </div>
          <div class="consejo-descripcion">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nemo quasi quibusdam porro maxime minus impedit amet voluptatem assumenda tenetur. -->
            Verifica tu estado de salud diariamente y evita al maximo contacto fisico y salir de la casa. Sigue las recomendaciones locales frente al Covid.
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
