.ngx-datatable{
    .sortable .sort-btn:before {
        font-family: data-table;
        content: url(../../assets/icon/code-outline.svg);
    }
    .sortable .sort-btn.datatable-icon-down:before {
        content: url(../../assets/icon/chevron-down-outline.svg);
    }
    .sortable .sort-btn.datatable-icon-up:before {
        content: url(../../assets/icon/chevron-up-outline.svg);
    }
}

span{
    font-size: 13px !important;
}

.seleccion{
    float: right;
    margin-right: 20px;
    padding-right: 10px;
    border: 3px solid rgb(66,140,255);
    border-radius: 5px;
    color: rgb(66,140,255);
    --background: rgba(255, 255, 255, 0);
    border-color: rgb(66,140,255);
}

ion-title{
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    text-align: left;
}

@media (max-width: 700px){
    span{
        font-size: 16px !important;
    }

    ion-title{
        float:left;
        margin-top: 9px;
        padding: 5px;
        text-align: left;
    }
}
