@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.articulo{
    max-width: 350px;
    max-height: auto;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:#BCE2FF 0.5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.articuloAplication:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.mainAplication, .mainSabias{
    margin: 30px;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}

.articuloAplication{
    max-width: 280px;
    min-width: 200px;
    max-height: auto;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:#BCE2FF 0.5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.todo{
    background: url(../../assets/img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),  */
.row{
    margin: 20px;
}

.row1{
    padding: 20px;
    margin: 0px;
}

.iconSabias, .iconApli{
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}

.iconApli{
    color: blue;
}

.titleSabias, .titleAplication{
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.info, .infoAplication{
    padding: 0px 15px 0px 15px;
    text-align: justify;;
}

