<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Graficas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Graficas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Departamento</ion-label>
    <ion-select ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="depto"  #C (ionChange)="onChangeDepto(C.value)">
      <ion-select-option *ngFor="let _depto of deptosList" [value]="_depto">{{_depto}}</ion-select-option>
    </ion-select>
  </ion-item>

  <canvas baseChart 
  [datasets]="deptoChartData" 
  [labels]="deptoChartLabels" 
  [chartType]="chartType"
  [colors]="deptoPieChartColors"
  [legend]="leyendaDepto"
  [options]="deptoChartOptions"
  [plugins]="deptoChartPlugins"
  >
  </canvas>
</ion-content>
