ion-select {
  /* Applies to the value and placeholder color */
  color: #545ca7;

  /* Set a different placeholder color */
  --placeholder-color: #971e49;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}
/* .grafico{
  min-width: 400px;
} */

ion-row{
  width: 100%;
}
.totales{
  margin:20px;
}

.grafico{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ion-segment{
  width: 100%;
}

ion-segment-button {
  text-transform:none;
}

.bloque-grafica1{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-bottom: 0px 0px 0px 0px;
}

#spinner{
  position: absolute;
  height: 100%;
  z-index: 99;
}

ion-spinner{
  margin: auto;
  width: 100px;
  height: 100px;
}

#top-tabs{
  position:sticky;
}

.bloque-grafica{  
  margin: 0px 0px;
  /* margin-bottom: 70px; */
}

ion-item-divider{
  padding: 0;
  width: 100%;
}

ion-item{
  width: 100%;
}

@media screen and (min-width:576px){
  .consejo-box{
      max-width: 250px;
      height: 250px;
  }
}


@media screen and (min-width:960px){
  .consejo-box{
      max-width: 300px;
      height: 300px;
  }
}