<ion-content [fullscreen]="true">

  <ion-segment id="top-tabs" (ionChange)="tipoGraficas($event)" value="Totales">
    <ion-segment-button value="Totales">
      <ion-label>Totales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Departamental">
      <ion-label>Departamental</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div id="total-view" *ngIf="tabGraficas == 'Totales'">
    <div class="bloque-grafica">
      <canvas class="grafico" baseChart 
      [datasets]="servicioGraficosTotales.totalSexData" 
      [labels]="servicioGraficosTotales.totalSexLabels"
      [chartType]="'pie'"
      [colors]="servicioGraficosTotales.totalSexChartColors"
      [legend]="true"
      [options]="servicioGraficosTotales.totalSexChartOptions"
      [plugins]="servicioGraficosTotales.totalChartPlugins"
      >
      </canvas>
      <h3>Total: {{servicioGraficosTotales.totalSex}}</h3>
    
      <ion-segment (ionChange)="sexTotalTipoGrafica($event)" [(ngModel)]="servicioGraficosTotales.sexTotalGraficaEstado">
        <ion-segment-button value="Confirmados">
          <ion-label>Confirmados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Recuperado">
          <ion-label>Recuperados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Fallecido">
          <ion-label>Fallecidos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <div class="bloque-grafica">
      <canvas class="grafico" baseChart 
      [datasets]="servicioGraficosTotales.totalStateData"
      [labels]="servicioGraficosTotales.totalStateLabels"
      [chartType]="'doughnut'"
      [colors]="servicioGraficosTotales.totalStateChartColors"
      [legend]="true"
      [options]="servicioGraficosTotales.totalStateChartOptions"
      [plugins]="servicioGraficosTotales.totalChartPlugins"
      >
      </canvas>
    </div>

    <div class="bloque-grafica">
      <canvas class="grafico" baseChart 
      [datasets]="servicioEdades.totalAgeData"
      [labels]="servicioEdades.totalAgeLabels"
      [chartType]="'bar'"
      [colors]="servicioEdades.totalAgeChartColors"
      [legend]="true"
      [options]="servicioEdades.totalAgeChartOptions"
      [plugins]="servicioEdades.totalChartPlugins"
      >
      </canvas>
      <ion-segment (ionChange)="ageTotalTipoGrafica($event)" [(ngModel)]="servicioEdades.ageTotalGraficaEstado">
        <ion-segment-button value="Confirmados">
          <ion-label>Confirmados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Recuperado">
          <ion-label>Recuperados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Fallecido">
          <ion-label>Fallecidos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>


  <div *ngIf="tabGraficas == 'Departamental'">
    <ion-item>
      <ion-label>Departamento</ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="depto"  #C (ionChange)="onChangeDepto(C.value)">
        <ion-select-option *ngFor="let _depto of deptosList" [value]="_depto">{{_depto}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

</ion-content>
