<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Registrarse" icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <form> 
    <ion-item>
      <label> Nombre <ion-text color="danger"> * </ion-text></label>
      <input type="text" name="name" required type="text">
    </ion-item>
    <ion-item>
      <label> Correo <ion-text color="danger"> * </ion-text></label>
      <input type="email" name="email" required type="text" [(ngModel)]="loginEmail">
    </ion-item>
    <ion-item>
      <label> Telefono <ion-text color="danger"> * </ion-text></label>
      <input type="tel" name="phone" required type="text" >
    </ion-item>
    <ion-item>
      <label > Edad <ion-text color="danger"> * </ion-text> </label>
      <input type="number" name="age" required="required" >
    </ion-item>

      <ion-button type="submit" (click)="signUp()"> Registro </ion-button> 

    </form>

  <input type="file" (change)="uploadFile($event)">

  Nombre, edad, dirección, barrio, ciudad,  correo, telefono
</ion-content>
