<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Registrarse </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <form class="contenedor"> 
    <ion-item>
      <ion-label> Nombre <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input type="text" name="name" required [(ngModel)]="name"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Correo <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input type="email" name="email" required [(ngModel)]="email"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Teléfono <ion-text color="danger"> * </ion-text></ion-label>
      <ion-input maxlength="10" type="tel" name="phone" required [(ngModel)]="phone" > </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Edad <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="number" name="age" required [(ngModel)]="age"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Ciudad <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="text" name="city" required [(ngModel)]="city"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Barrio <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="text" name="state" required [(ngModel)]="state"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Dirección <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="text" name="address" required [(ngModel)]="address"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Crear contraseña <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="password" name="password" required [(ngModel)]="password"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Repetir contraseña <ion-text color="danger"> * </ion-text> </ion-label>
      <ion-input type="password" name="password2" required [(ngModel)]="password2"> </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input type="reset"> </ion-input>
    </ion-item> -->
    
    <ion-button class="botonlogin" type="submit" (click)="signUp()" expand="block" href="" routerDirection="forward"> Registro </ion-button> 
    <ion-button class="botonlogin" color="danger" expand="block" routerLink="/tabs/login" routerDirection="forward"> Cancelar </ion-button> 
    </form>

  <!-- <ion-input type="file" (change)="uploadFile($event)">  </ion-input> --> 

  
</ion-content>
