<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Registrarse" icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <form> 
    <ion-item>
      <label> Nombre <ion-text color="danger"> * </ion-text></label>
      <input type="text" name="name" required type="text">
    </ion-item>
    <ion-item>
      <label> Correo <ion-text color="danger"> * </ion-text></label>
      <input type="email" name="email" required type="text" [(ngModel)]="loginEmail">
    </ion-item>
    <ion-item>
      <label> Telefono <ion-text color="danger"> * </ion-text></label>
      <input type="tel" maxlength="10" name="phone" required type="text" >
    </ion-item>
    <ion-item>
      <label > Edad <ion-text color="danger"> * </ion-text> </label>
      <input type="number" maxlength="2" name="age" required="required" >
    </ion-item>
    <ion-item>
      <label > Ciudad <ion-text color="danger"> * </ion-text> </label>
      <input type="text" name="city" required="required" >
    </ion-item>
    <ion-item>
      <label > Barrio <ion-text color="danger"> * </ion-text> </label>
      <input type="text" name="state" required="required" >
    </ion-item>
    <ion-item>
      <label > Dirección <ion-text color="danger"> * </ion-text> </label>
      <input type="text" name="adress" required="required" >
    </ion-item>
    <ion-item>
      <label > Crear contraseña <ion-text color="danger"> * </ion-text> </label>
      <input type="password" name="password" required="required" >
    </ion-item>
    <ion-item>
      <label > Repetir contraseña <ion-text color="danger"> * </ion-text> </label>
      <input type="password" name="password2" required="required" >
    </ion-item>
    <ion-item>
      <input type="reset">  
    </ion-item>
    
    <ion-button type="submit" (click)="signUp()"> Registro </ion-button> 

    </form>

  <input type="file" (change)="uploadFile($event)">

  
</ion-content>
