<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mi perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-button class="botonActua" (click)="updatePerfil()" expand="block"> Actualizar datos de perfil </ion-button>
    <ion-button class="botonActua" (click)="consultar()" expand="block"> Ver mis reportes </ion-button>
  </div>
  <div *ngIf="report.change==undefined && report.actu==undefined">

  </div>   
  <div *ngIf="report.actu==false && report.change==false"> 
    <div class="contenedor">
      <!-- <h1> Estos son tus reportes: </h1> -->
      <div *ngIf="report.reportsUser.length == 0 || allActive == true else showReports">
        <p> No tienes reportes activos.</p> 
      </div>
      <ng-template #showReports>
        <div class="reports" *ngFor='let report of report.reportsUser'> 
          <ion-item *ngIf="report.data.archivado == false">
            <ion-label >
              <h2>{{report.data.nombre}} </h2>
              <h2>{{report.data.telefono}} </h2>
              <h2>{{report.data.correo}} </h2>
              <h2>{{report.data.ciudad}} </h2>
              <h2>{{report.data.tipo}} </h2>
              <h2>{{report.data.categoria}} </h2>
              <p>{{report.data.descripcion}} </p>
              <ion-button class="botonReports" (click)="changeTrue(); updateReporte(report.id)"> Actualizar </ion-button> 
              <ion-button class="botonReports" (click)="deleteReport(); updateReporte(report.id)" color= "danger"> Eliminar </ion-button>
            </ion-label>
          </ion-item>
        </div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="report.change==true && report.actu==true">
    <form class="contenedor">
      <ion-item>
        <ion-label > Contraseña actual<ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="password" name="currentPassword" required [(ngModel)]="currentPassword"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Nueva contraseña <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="password" name="newPassword" required [(ngModel)]="newPassword"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Repetir contraseña <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="password" name="newPassword2" required [(ngModel)]="newPassword2"> </ion-input>
      </ion-item>
      <ion-button class="botonPass" (click)="updatePass()" > Cambiar </ion-button> 
      <ion-button class="botonPass" (click)="changeFalse()" color= "danger"> Cancelar </ion-button>
    </form>
  </div>
  
  <div *ngIf="report.change==false && report.actu==true">
    <form class="contenedor"> 
      <ion-item>
        <ion-label> Nombre <ion-text color="danger"> * </ion-text></ion-label>
        <ion-input type="text" name="name" required [(ngModel)]="name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Correo <ion-text color="danger"> * </ion-text></ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label> Teléfono <ion-text color="danger"> * </ion-text></ion-label>
        <ion-input type="tel" name="phone" required [(ngModel)]="phone" > </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Edad <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="number" name="age" required [(ngModel)]="age"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Ciudad <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="text" name="city" required [(ngModel)]="city"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Barrio <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="text" name="state" required [(ngModel)]="state"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Dirección <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="text" name="address" required [(ngModel)]="address"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Ingresa tu contraseña <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-input type="password" name="password" required [(ngModel)]="password"> </ion-input>
      </ion-item>
      
      <ion-button class="botonActua" type="submit" (click)="updateProfile()" expand="block" href="" routerDirection="forward"> Actualizar </ion-button>
      <ion-button class="botonActua" (click)="changeTrue()" expand="block"> Cambiar contraseña </ion-button> 
      
    </form>
  </div>

  <div *ngIf="report.actu == false && report.change == true">
    <div class="contenedor">
      <p>Únicamente puedes actualizar la descripción de tu reporte, si quieres cambiar la categoría o tipo archiva 
        tu reporte y crea uno nuevo. </p>
      <ion-item>
        <ion-label class="descripcion"> Descripción <ion-text color="danger"> * </ion-text> </ion-label>
        <ion-textarea name="descripcion" required [(ngModel)]="descripcion"> </ion-textarea>
      </ion-item>
      <ion-button class="botonPass" (click)="updateReport()" > Actualizar </ion-button> 
      <ion-button class="botonPass" (click)="changeFalse()" color= "danger"> Cancelar </ion-button>
    </div>
  </div>
    
</ion-content>
