
<ion-content [fullscreen]="true">

  <!-- <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" [(ngModel)]="todo.title" name="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" name="pass"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add Todo</button>
  </form> -->

  <div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <ion-button (click)="logout()">Cerrar sesión</ion-button>
  </div>
  
  <ng-template #showLogin>
    <p>Please login.</p>

    <form> 
      <input type="email" name="email" required="required" [(ngModel)]="loginEmail">
      <input type="password" name="password" required="required" [(ngModel)]="loginPassword">
      <button type="submit" (click)="loginEmailPassword()"> Entrar </button> 
    </form>


    <ion-button color="primary" (click)="login()">Iniciar sesión con Google</ion-button>
    <!-- <ion-button color="primary" (click)="loginEmailPassword(email,password)" >Iniciar sesión</ion-button> -->
    
  </ng-template>
  
  <ion-button color="primary" routerLink="/tabs/tab6/register" routerDirection="forward">Registrarse</ion-button>
  <ion-button color="primary" routerLink="/tabs/tab6/principal" routerDirection="forward">Principal</ion-button>

</ion-content>
