
<ion-content [fullscreen]="true">

  <div class="contenedor"> 
  
    <div *ngIf="auth.user | async as user; else showLogin"> 
      <h1>Hello {{ user.displayName }}!</h1>
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
      <ion-button color="primary" routerLink="/tabs/tab6/principal" routerDirection="forward">Principal</ion-button>
    </div>
    
    <ng-template #showLogin>
      <img src="../../assets/img/world.jpg">
      <h1 class="titulo1"> Bienvenido a CovidApp </h1>
      <p>Iniciar sesión</p>
  
      <form> 
        <p>Correo electrónico</p>
        <label> <ion-icon name="mail-outline"></ion-icon> <ion-text color="danger"> * </ion-text></label>
        <input placeholder="usuario@ejemplo.com" type="email" name="email" required type="text" [(ngModel)]="loginEmail">
        
        <p>Contraseña</p>
        <label > <ion-icon name="key-outline"></ion-icon> <ion-text color="danger"> * </ion-text> </label>
        <input placeholder="******" type="password" name="password" required="required" [(ngModel)]="loginPassword">
        <br>
        <br>
        <ion-button class="botonlogin" expand="block" type="submit" (click)="loginEmailPassword()"> Entrar </ion-button> 
      </form>
      
      
      <ion-button class="botonlogin" color="danger" (click)="login()"> <ion-icon name="logo-google"></ion-icon> &nbsp; Iniciar sesión con Google</ion-button>
      <!-- <ion-button color="primary" (click)="loginEmailPassword(email,password)" >Iniciar sesión</ion-button> -->
      <ion-button class="botonlogin" color="primary" routerLink="/tabs/tab6/register" routerDirection="forward">Registrarse</ion-button>
      <ion-button class="botonlogin" color="primary" routerLink="/tabs/tab6/menu" routerDirection="forward">Menu</ion-button>
    </ng-template>
  </div>
  
</ion-content>
